<div id="pnl_list">
	<div class="fgta-page-title">Daftar User</div>

	<div id="pnl_list-pnl_head" style="display: flex; align-items: flex-end">
		<!-- Simple Query -->
		<div class="list-buttonbaru" style="text-align: right; width: calc(100% - 10px); float: right;  position: absolute">
			<a href="javascript:void(0)" id="pnl_list-btn_new" class="easyui-linkbutton c8" style="width: 60px">Baru</a>
		</div>
		<div class="list-search-wrap" style="width: calc(100% - 65px); display: flex;">
			<div class="list-search-item" style="width: 50px;">Cari</div>
			<div class="list-search-item">
				<input id="pnl_list-txt_search" class="easyui-textbox" style="width: 100%">
			</div>
			<div class="list-search-item" style="width: 45px">
				<a href="javascript:void(0)" id="pnl_list-btn_load" class="easyui-linkbutton c8" style="width: 45px">Load</a>
			</div>
		</div>
	</div>


	<div style="margin-top: 10px">
		<table id="pnl_list-tbl_list" paging="true" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th mapping="user_id">user_id</th>
					<th mapping="user_name">user_name</th>
					<th mapping="user_fullname">user_fullname</th>
					<th mapping="user_email">user_email</th>
					<th mapping="user_password">user_password</th>
					<th mapping="user_disabled">user_disabled</th>
					<th mapping="group_name">group_name</th>

				</tr>
				<tr style="background-color: #cccccc; height: 30px">
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">ID</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Username</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">User Fullname</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Email</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Password</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Disabled</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Main Group</td>

				</tr>
			</thead>
		</table>
	</div>



</div>