<div id="pnl_editgroupsform">
	<div class="fgta-page-title" style="display: flex; align-items: center ">
		<div>Edit Owned Groups</div>
		<a id="pnl_editgroupsform-btn_edit" href="javascript:void(0)" class="easyui-linkbutton" style="margin-left:10px;" data-options="plain:true,iconCls:'fgta-icon-edit'">edit</a>
	</div>
	<div id="pnl_editgroupsform-title" style="margin-top: 0px; margin-bottom: 30px; font-weight: bold; font-size: 1.2em">XXXXXXX</div>


	<form id="pnl_editgroupsform-form">

		<div class="form_row">
			<div class="form_label_col">ID</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editgroupsform-txt_usergroups_id" class="easyui-textbox" mapping="usergroups_id"  maxlength="14"  style="width: 400px" data-options="multiline:false  ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col"></div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editgroupsform-chk_usergroups_isdisabled" class="easyui-checkbox c1" mapping="usergroups_isdisabled" data-options="label: 'Disabled', labelPosition: 'after', disabled:false, checked: false ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">Group</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editgroupsform-cbo_group_id" class="easyui-combo" style="width: 400px" mapping="group_id" display="group_id" data-options="editable:false, valueField:'id', textField:'text' ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">User</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editgroupsform-txt_user_id" class="easyui-textbox" mapping="user_id"  maxlength="14"  style="width: 400px" data-options="multiline:false  , disabled: true">
			</div>
		</div>

	</form>


	<div class="form_row" style="margin-top: 30px">
		<div class="form_label_col"></div>
		<div class="form_input_col" style="border: 0px solid black">
			<div style="margin-bottom: 10px">
				<input id="pnl_editgroupsform-autoadd" type="checkbox"><label for="pnl_editgroupsform-autoadd">Otomatis tambah baru setelah berhasil disimpan</label>
			</div>
			<div>
				<a id="pnl_editgroupsform-btn_save" class="easyui-linkbutton c1" style="width: 100px">Simpan</a>
			</div>
		</div>
	</div>	



	<div style="margin-top: 30px; margin-left:-5px; margin-right: -5px; background-color: #cccccc; height: 40px; display: flex; justify-content: space-between; padding: 5px 2px 2px 2px ">
		<div>
			<a id="pnl_editgroupsform-btn_prev" class="easyui-linkbutton c8" style="width: 50px">Prev</a>
			<a id="pnl_editgroupsform-btn_next" class="easyui-linkbutton c8" style="width: 50px">Next</a>
		</div>

		<div>
			<a id="pnl_editgroupsform-btn_addnew" class="easyui-linkbutton c8" style="width: 100px">Tambah Baru</a>
		</div>

		<div>
			<a id="pnl_editgroupsform-btn_delete" class="easyui-linkbutton c5" style="width: 100px">Hapus</a>
		</div>
	</div>




</div>	
