<div id="pnl_editgroupsgrid">
	<div class="fgta-page-title">Daftar Owned Groups</div>
	<div id="pnl_editgroupsgrid-title" style="margin-top: 0px; margin-bottom: 30px; font-weight: bold; font-size: 1.2em">XXXXXXX</div>


	<div style="margin-top: 10px; margin-bottom: 15px">
		<table id="pnl_editgroupsgrid-tbl_list" paging="true" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th type="check">chk</th>
					<th mapping="usergroups_id">usergroups_id</th>
					<th mapping="usergroups_isdisabled">usergroups_isdisabled</th>
					<th mapping="group_name">group_name</th>

				</tr>
				<tr style="background-color: #cccccc; height: 30px">
					<td class="fgtable-head" style="width: 5px; border-bottom: 1px solid #000000; text-align: center">*</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">ID</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Disabled</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Group</td>

				</tr>
			</thead>
		</table>
	</div>

	<div id="pnl_editgroupsgrid-control" style="display: flex; justify-content: space-between; margin-bottom: 100px">
		<div>
			<a id="pnl_editgroupsgrid-removechecked" href="javascript:void(0)" class="easyui-linkbutton c8">Hapus Checked</a>
		</div>

		<div>
			<a id="pnl_editgroupsgrid-addrow" href="javascript:void(0)" class="easyui-linkbutton c8">Tambah Baris</a>
		</div>

		<div>
		</div>

	</div>


</div>	
