<header id="page-header">
	<div class="pageblock-container">
		<div id="nav-btnopen" onclick="openNav()">
			<img class="nav-button" src="index.php/public/assets/icons/icon-head-menu.svg">
		</div>
		<div id="login-container" style="display: flex">
			<div id="login-icon"  style="float: right">
				<img class="nav-button" src="index.php/public/assets/icons/icon-head-account.svg">
			</div>
			<div id="login-signin"  style="float: right">Sign In</div>
			<div id="login-register" style="float: right">Register</div>
		</div>
		<div id="search-container" style="display: flex">
			<input id="nav-txtsearch" type="text" placeholder="Search">
			<img id="nav-btnsearch" class="nav-button" src="index.php/public/assets/icons/icon-head-search.svg" onclick="SearchClick()">
		</div>

		<div id="logo-container" style="background: url('index.php/public/assets/logo.jpg'); background-size: contain;  background-repeat: no-repeat;  background-position: center;">
			&nbsp;
		</div>
		
		
		<div id="nav">
			<div id="nav-btnclose-container">
				<div id="nav-btnclose" onclick="closeNav()">
					<img class="nav-button" src="index.php/public/assets/icons/icon-head-menu-close-white.svg">
				</div>
			</div>
			<div id="nav-item-container">
				<div class="dropdown">
					<div class="dropbtn accordion">menu A</div>
					<div class="dropdown-content">
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-b</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-c</a>
					</div>
				</div>


				<div class="dropdown">
					<div class="dropbtn accordion">menu 2</div>
					<div class="dropdown-content">
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
						<a class="nav-item" href="javascript:void(0)">menu 1-a</a>
					</div>
				</div>
				
				<div class="dropdown">
					<div class="dropbtn accordion">menu 3</div>
				</div>

				<div class="dropdown">
					<div class="dropbtn accordion">menu 4</div>
				</div>

				
			</div>
		</div>	
	</div>
</header>

<script>
	const navelid = 'nav';
	const txtsearch = 'nav-txtsearch';
	const txtsearchcontainer = 'search-container';
	
	window.navIsVisible = false;
	window.searchIsVisible = false;


	function openNav() {
		var width = getWidth();
		window.navIsVisible = true;
		document.getElementById(navelid).style.display = 'block';
		document.getElementById(navelid).style.width = "0px";
		document.getElementById(navelid).style.transition = '0.5s';
		setTimeout(() => {
			if (width <= 450) {
				document.getElementById(navelid).style.width = "100%";
			} else {
				document.getElementById(navelid).style.width = "450px";
			}
		}, 100);
		
	}

	function closeNav() {
		window.navIsVisible = false;
		document.getElementById(navelid).style.width = "0px";
		setTimeout(() => {
			document.getElementById(navelid).style.display = 'none';
		}, 500);
	}


	var searchdrawering = false;
	function SearchClick() {
		var width = getWidth();
		var searchtext = document.getElementById(txtsearch).value; 
		if (width>450) {
			if (searchtext.trim()!=='') {
				doSearch(searchtext);
			}
		} else {
			if (searchtext.trim()!=='') {
				doSearch(searchtext);
			} else {
				if (!searchdrawering) {
					searchdrawering = true;

					if (window.searchIsVisible) {
						document.getElementById(txtsearchcontainer).style.borderBottomWidth = '0px';
						document.getElementById(txtsearch).style.width = '0px';
					} else {
						document.getElementById(txtsearchcontainer).style.borderBottomWidth = '1px';
						document.getElementById(txtsearch).style.width = '100px';
						document.getElementById(txtsearch).focus();
					}
					window.searchIsVisible = !window.searchIsVisible;

					setTimeout(() => {
						searchdrawering = false;
					}, 300);
				}

			}
		}

	}

	function doSearch(searchtext) {
		console.log(`search: '${searchtext}'`);
	}


	function setOrientation() {
		var width = getWidth();
		var height = getHeight();
		var screenOrientation = width > height ? 90 : 0;
		if (window.currentOrientation==null) {
			window.currentOrientation = screenOrientation;
		}

		if (screenOrientation!=window.currentOrientation) {
			document.getElementById(navelid).style.display = 'none';
			document.getElementById(navelid).style.transition = '0s';
			document.getElementById(navelid).style.width = '0px';
			window.navIsVisible = false;
		}

		window.currentOrientation = screenOrientation;
	}

	var lastwidth = getWidth();
	window.addEventListener("resize", ()=>{
		var searchtext = document.getElementById(txtsearch).value; 
		if (searchtext.trim()!=='') {
			window.searchIsVisible = true;
		} else {
			window.searchIsVisible = false;
		}

		setOrientation();
		
		setTimeout(() => {
			var width = getWidth();
			if (width==lastwidth) {
				return;
			} 

			if (width>1024) {
				document.getElementById(navelid).style.display = 'block';
				document.getElementById(navelid).style.width = '100%';
				document.getElementById(navelid).style.visibility = 'visible';
				document.getElementById(txtsearchcontainer).style.borderBottomWidth = '1px';
				document.getElementById(txtsearch).style.width = '200px';

				// reset accordion
				var acc = document.getElementsByClassName("accordion");
				var i;
				for (i = 0; i < acc.length; i++) {
					acc[i].classList.remove('active');
					var panel = acc[i].nextElementSibling;
					if (panel==null) return;
					panel.style.maxHeight = null;
				}

			} else {
				

				
				if (width>450) {
					document.getElementById(txtsearchcontainer).style.borderBottomWidth = '1px';
					document.getElementById(txtsearch).style.width = '100px';
				} else {
					if (!window.searchIsVisible) {
						document.getElementById(txtsearchcontainer).style.borderBottomWidth = '0px';
						document.getElementById(txtsearch).style.width = '0px';
					}
				}
			


				if (window.navIsVisible) {
					document.getElementById(navelid).style.width = '0px';	
					document.getElementById(navelid).style.display = 'block';
					if (width<=450) {
						document.getElementById(navelid).style.width = '100%';	
					} else {
						document.getElementById(navelid).style.width = '450px';	
					}						
				} else {
					document.getElementById(navelid).style.display = 'none';
				}

			}
			document.getElementById(txtsearch).style.transition = '0.5s';

			lastwidth = width;

		}, 100);
		

	});

	
	window.addEventListener('load', function(event) {
		// add accordion 
		setOrientation();
		var acc = document.getElementsByClassName("accordion");
		var i;
		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				var width = getWidth();
				if (width<=1024) {
					if (width<=450) {
						document.getElementById(txtsearch).style.transition = '0.5s';
					}

					var panel = this.nextElementSibling;
					if (panel==null) return;

					this.classList.toggle("active");
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					}
				}
			});
		}
	});


	document.getElementById(txtsearch).addEventListener('keyup', function(event) {
		event.preventDefault();
		if (event.keyCode === 13) {
			var searchtext = document.getElementById(txtsearch).value; 
			doSearch(searchtext);
		}
	})


</script>