<footer id="page-footer">
	<div id="page-footer-row1" class="page-footer-row">
		<div class="page-footer-menu">
			<a id="logotfi" href="https://www.transfashionindonesia.com/" target="blank" style="background: url('index.php/public/assets/transfashion-logo.png'); background-size: contain;  background-repeat: no-repeat;"></a>	
		</div>
		
		<div class="page-footer-menu">
			<a href="index.php/module/retail/webcommerce/home">Home</a><br>
			<a href="index.php/module/retail/webcommerce/static/pstorelocator">Store Locator</a><br>
			<a href="index.php/module/retail/webcommerce/static/pcontactus">Contact Us</a><br>
			<a href="index.php/module/retail/webcommerce/static/preturnpolicy">Return Policy</a><br>
			<a href="index.php/module/retail/webcommerce/static/prepairandservice">Repair and Service</a><br>
			<a href="index.php/module/retail/webcommerce/static/pwarranty">Warranty</a><br>
			<a href="index.php/module/retail/webcommerce/static/pcontentdisclaimer">Content Disclaimer</a><br>
		</div>


		<div id="page-footer-address" class="page-footer-menu">
			<div style="font-weight: bold">
				Address :
			</div>
			<div style="margin-top: 10px">
				Menara Mega Syariah 18 Floor<br>
				Jl. H.R. Rasuna Said Kav 19A,<br>
				Jakarta Selatan, 12950<br>
				Telp: +62 21 2985 2112<br>
				Fax: +62 21 2985 2115<br>
			</div>

			<div style="font-weight: bold; margin-top: 30px">
				More Information:
			</div>
			<div style="margin-top: 8px; display: flex">
				<a class="logosm" href="https://www.facebook.com/transfashionindonesia.ctcorp/" target="blank" style="background: url('index.php/public/assets/iconfacebook.png'); background-size: contain;  background-repeat: no-repeat;"></a>
				<a class="logosm" href="https://www.instagram.com/transfashionindonesia/?hl=en" target="blank" style="background: url('index.php/public/assets/iconinstagram.png'); background-size: contain;  background-repeat: no-repeat;"></a>
			</div>
		</div>

	</div>



	<div id="page-footer-row2"  class="page-footer-row">
		<span style="margin-top: 20px">
			<strong>Trans Fashion Indonesia</strong> &copy2020 - <?=date('Y')?>, All Rights Reserved
		</span>
	</div>
</footer>



<script>
	const pagecontentel = document.getElementById('page-content');
	const pagefooterel = document.getElementById('page-footer') 

	var footercalculating = false;
	function footer_resize() {
		if (!footercalculating) {
			footercalculating = true;
			setTimeout(() => {
				var height = document.documentElement.clientHeight;

				var rect_footer = pagefooterel.getBoundingClientRect();
				var rect_content = pagecontentel.getBoundingClientRect();

				var totalheight = rect_content.bottom + rect_footer.height;
				if (totalheight<=height) {
					pagefooterel.style.position = 'fixed';
					pagefooterel.style.bottom = '0px';
					// pagefooterel.style.zIndex = '-1'
				} else {
					
					pagefooterel.style.position = 'relative';
					pagefooterel.style.bottom = null;	
					// pagefooterel.style.zIndex = '-1'				
				}
				footercalculating = false;
				pagefooterel.style.transition = '1s';
				pagefooterel.style.opacity = 1;
			}, 100);
		}		
	}				

	pagefooterel.style.transition = '0'
	pagefooterel.style.opacity = 0;
	footer_resize();
	window.addEventListener("resize", ()=>{
		// pagefooterel.style.transition = '0'
		// pagefooterel.style.opacity = 0;
		footer_resize();
	});

</script>