<?php namespace FGTA4\module; 
if (!defined('FGTA4')) {
	die('Forbiden');
}
?><!DOCTYPE HTML>
<html lang="id">
	<head>

		<!--
		<?php
		echo $_SERVER['REQUEST_SCHEME'].'://'.$_SERVER['HTTP_HOST'].str_replace(basename($_SERVER['SCRIPT_NAME']), '', $_SERVER['SCRIPT_NAME']);
		?>	
		//-->	


		<title><?=$this->title?></title>
		<!-- <base href="<?=__BASEADDRESS?>"> -->
		<base href="<?php echo $_SERVER['REQUEST_SCHEME'].'://'.$_SERVER['HTTP_HOST'].str_replace(basename($_SERVER['SCRIPT_NAME']), '', $_SERVER['SCRIPT_NAME']); ?> ">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="manifest" href="manifest.json">
		<!-- <link rel="icon" sizes="192x192" href="images/<?=__ICON32?>">
		<link rel="apple-touch-icon" sizes="192x192" href="images/<?=__ICON32?>">
		 -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="application-name" content="<?=__APPDISPLAYNAME?>">
		<meta name="apple-mobile-web-app-title" content="<?=__APPDISPLAYNAME?>">
		<meta name="theme-color" content="#9c6ea7">
		<meta name="msapplication-navbutton-color" content="#9c6ea7">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="msapplication-starturl" content="/">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="modulefullname" content="<?=$this->reqinfo->modulefullname?>" />
		<meta name="variancename" content="<?=$this->reqinfo->variancename?>" />
		<meta name="basetitle" content="<?=$this->configuration->basetitle?>" />
		<meta name="author" content="<?=$this->author?>" />
		<meta name="createdate" content="<?=$this->createdate?>" />

		
		<link rel="preload" as="image" href="templates/<?=__TEMPLATE?>/asset/loading.gif" />
		<!-- <link rel="preload" as="image" href="templates/<?=__TEMPLATE?>/asset/icon-loading.gif" /> -->
		
		<link rel="stylesheet" type="text/css" href="jslibs/easyui/themes-1.9.9/material-blue/easyui.css" />
		<link rel="stylesheet" type="text/css" href="jslibs/easyui/themes-1.9.9/color.css" />
		<link rel="stylesheet" type="text/css" href="jslibs/easyui/themes-1.9.9/icon.css" />
		<!--
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
		-->

		<link rel="stylesheet" type="text/css" href="templates/<?=__TEMPLATE?>/asset/module.css" />
		<?php
		$app_css_path = __LOCAL_PUBLIC_DIR . "/style.css";
		if (\is_file($app_css_path)) {
		?>
		<link rel="stylesheet" type="text/css" href="index.php/public/style.css" />
		<?php } ?>
		

		<script>
		let Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9\+\/\=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\r\n/g,"\n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
		</script>	
		<?php 
		$user_jsondata = $this->auth->session_get_user_jsondata();
		if ($user_jsondata!='') {
		?>
		<script>
		window.userdata=JSON.parse(Base64.decode(`<?=base64_encode($user_jsondata)?>`));
		</script>
		<?php } ?>



		<script>
			window.global = {
				modulefullname: "<?=$this->reqinfo->modulefullname?>",
				now: () => {
					var today = new Date(); 
					var dd = today.getDate(); 
					var mm = today.getMonth() + 1; 
					var yyyy = today.getFullYear(); 
					if (dd < 10) { 
						dd = '0' + dd; 
					} 
					if (mm < 10) { 
						mm = '0' + mm; 
					} 
					var today = dd + '/' + mm + '/' + yyyy;
					return today
				},
				template: '<?=__TEMPLATE?>',
				iconloading: 'data:image/gif;base64,R0lGODlhIAAgAPABAP///wAAACH5BAkHAAEAIf8LTkVUU0NBUEUyLjADAQAAACH/C0ltYWdlTWFnaWNrDWdhbW1hPTAuNDU0NTUALAAAAAAgACAAAAItjI+py+0Po5y02osz2Bxk1HWfEXJjUG5n6o3smsLhSdf2jef6zvf+DwwKh5YCACH5BAkHAAEAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAACAAIAAAAi2Mj6nL7Q+jnLTai7MDvHNteB4YiB1pfmAKoKlrwiJJ1/aN5/rO9/4PDAqHiwIAIfkECQcAAQAh/wtJbWFnZU1hZ2ljaw1nYW1tYT0wLjQ1NDU1ACwAAAAAIAAgAAACK4yPqcvtD6OctNqLs968+w+G4kiWAYCmAKeqbIu+sNzS7gbHeG72/g8MQgoAIfkECQcAAQAh/wtJbWFnZU1hZ2ljaw1nYW1tYT0wLjQ1NDU1ACwAAAAAIAAgAAACK4yPqcvtD6OctNqLs968+w+G4khuwIkCXZpyLOq+qinHr83ibcn3/g/8FAAAOw==',
				//useotp: false, //!--PROXY_VARIABLE--
				useotp: true
			}

			window.isMobileOrTablet = () => {
				var check = false;
				(function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
				return check;
			};


			window.row_format_number = (value, tr) => {
				var val = parseFloat(value);
				if (!isNaN(val)) {
					return val.toLocaleString('en-US');	
				} else {
					return value;
				}
			}

			window.get_date_value = (datestring_id_format) => {
				var strDt = datestring_id_format.match(/^(\d{2})\/(\d{2})\/(\d{4})$/);
				return new Date(strDt[3], strDt[2]-1, strDt[1]);
			}


			window.isChecked = (objchk) => {
				var chk = objchk.checkbox('options');
				return chk.checked
			}

		</script>




		<script src="jslibs/cookie.js"></script>	
		<!-- <script src="jslibs/preventback.js"></script>	 -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>		 -->
		<script src="jslibs/jquery.min.js"></script>
		<script src="jslibs/easyui/jquery.easyui-1.9.9.min.js"></script>
		<!-- <script>
		$.parser.auto = false;
		</script>	 -->



		<script src="jslibs/crypto-js.min.js"></script>


		<script>

			// /* patch textbox */
			(function($){
				let original_disable = $.fn.textbox.methods.disable;
				let original_enable = $.fn.textbox.methods.enable;
				$.extend($.fn.textbox.methods, {
					disable: function(jq, value) {
						var opt = jq.textbox('options')
						opt.disabled = true
						var ret = original_disable(jq, value)
						return ret
					},
					enable: function(jq, value) {
						var opt = jq.textbox('options')
						opt.disabled = false						
						var ret = original_enable(jq, value)
						return ret
					}
				})
			})(jQuery);		


			// /* patch checkbox, agar pewarnaannya menyesuaikan pattern dari FGTA */
			(function($){
				let original_check = $.fn.checkbox.methods.check;
				$.extend($.fn.checkbox.methods, {
					check: function(jq, value) {
						var ret = original_check(jq, value)
						ret.parent().find('span.checkbox.inputbox.checkbox-checked').removeClass('checkbox-checked')
						return ret
					}
				})
			})(jQuery);

			/* parser untuk tampilan datebox agar formatnya dd/mm/yyyy */
			$.fn.datebox.defaults.formatter = function(date) {
				var y = date.getFullYear();
				var m = date.getMonth() + 1;
				var d = date.getDate();
				return (d < 10 ? '0' + d : d) + '/' + (m < 10 ? '0' + m : m) + '/' + y;
			};

			$.fn.datebox.defaults.parser = function(s) {
				if (s) {
					var a = s.split('/');
					var d = new Number(a[0]);  // jshint ignore:line
					var m = new Number(a[1]);  // jshint ignore:line
					var y = new Number(a[2]);  // jshint ignore:line
					var dd = new Date(y, m-1, d);
					return dd;
				} else {
					return new Date();
				}
			};


			$.extend($.fn.validatebox.defaults.rules, {
				requiredcombo: {
					validator: function(value, param) {
						var cbo_value = $('#'+param[0]).combo('getValue');
						if (cbo_value==='0' || cbo_value===0 || cbo_value==='')
							return false;
						else
							return true;
					},
					message: 'Harus dipilih'
				}
			});


			window.to_sql_date = (ststr) => {
				var date = $.fn.datebox.defaults.parser(ststr);
				var y = date.getFullYear();
				var m = date.getMonth() + 1;
				var d = date.getDate();
				return y + '-' + (m < 10 ? '0' + m : m) + '-' +  (d < 10 ? '0' + d : d);		 
			}

		</script>		

		<style>
			.container-bar {
				background-color: #ccc;
				color: #333;
			
			}


		</style>


	</head>


	<body>

		<div id="loadwaitmask"><div id="loaderwrap"><div id="loadwaitimg"></div></div></div>

		<?php 
		$incontainer = false;
		if (property_exists($this, "incontainer")) {
			if ($this->incontainer) {
				$incontainer = true;
			}
		}
		?>	
		<?php if (!$incontainer) { ?>	
		<!-- <div style="
			width: 100%;
			height: 10px;
			position: fixed;
			top: -10px;
			left: -5px; 
			z-index: 99999;
			-webkit-box-shadow: 0px -8px 11px 8px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px -8px 11px 8px rgba(0,0,0,0.75);
			box-shadow: 0px -8px 11px 8px rgba(0,0,0,0.75);
		"
		></div>	 -->
		<?php } ?>

	
		<?php require_once $this->reqinfo->moduleviewpath ?>

		<div id="fgta_output" style="display: none">
			<div id="fgta_output_content"></div>
			<div id="fgta_output_error"></div>
		</div>
	</body>








		
	<?php if (property_exists($this, 'preloadscripts')) { ?>
<!-- Preaload Scripts -->
	<?php if (is_array($this->preloadscripts)) { 
			foreach ($this->preloadscripts as $script) {	
	?><script src="<?=$script?>"></script>			
	<?php }}} ?>		


	
	<?php if (property_exists($this, 'preloadsstyles')) { ?>
<!-- Preaload Styles -->
	<?php if (is_array($this->preloadsstyles)) { 
			foreach ($this->preloadsstyles as $style) {	
	?><script src="<?=$script?>"></script>			
	<?php }}} ?>	



	<?php if (is_file($this->reqinfo->modulecsspath)) { ?>		
<!-- CSS Module <?php //echo($this->reqinfo->modulecsspath) ?> -->	
	<link rel="stylesheet" type="text/css" href="<?=$this->reqinfo->modulecssurl?>" />
	<?php } ?>




	<!-- Script Module <?php //echo($this->reqinfo->modulejspath) ?> -->	
	<?php if (is_file($this->reqinfo->modulejspath)) { ?>

	<script type="module">
		import * as uibaseclass from './index.php/jslibs/uibase4.js'
		import * as ui from '<?=$this->reqinfo->modulejsurl?>';

		let uibase = Object.assign({}, uibaseclass)
		window.$ui = Object.assign(uibase, ui)

	</script>
	<?php } ?>

	
	<script>
		window.preparemodule = async (fn_callback) => {
			if (window.$ui!==undefined) {
				await window.$ui.ready()
				
				var variancename = document.querySelector('meta[name="variancename"]').content
				await window.$ui.init({
					variancename: variancename,
					parameter:  JSON.parse(Base64.decode(`<?=base64_encode(json_encode($this->getParameter()))?>`))
				});
			}
			fn_callback()
		}

		//window.onload = () => {
		$(document).ready(function(){

				$(window).scroll(function() {
					$('#__progressmask__').css('top', $(this).scrollTop() + "px");
					$('#__progresswaitmask__').css('top', $(this).scrollTop() + "px");
				});

				//window.preventBackButton();
				// tidak bisa back
				history.pushState(null, null, window.location.pathname);
				window.addEventListener('popstate', function(ev) {
					history.pushState(null, null, window.location.pathname);
				}, false);				





				window.preparemodule(() => {
					let loadwaitmask = document.getElementById('loadwaitmask')
					if (loadwaitmask!==null) {
						let fadeout = setInterval(() => {
							if (!loadwaitmask.style.opacity) {
								loadwaitmask.style.opacity = 1;
							}
							if (loadwaitmask.style.opacity > 0) {
								loadwaitmask.style.opacity -= 0.1;
							} else {
								loadwaitmask.parentNode.removeChild(loadwaitmask);
								clearInterval(fadeout);
							}											
						}, 20)	
					}
				});		

				<?php if (trim($content)!='') { ?>

				let fgta_output = $('#fgta_output')
				let fgta_output_content = $('#fgta_output_content')
				fgta_output_content.html(`<?=$content?>`)	
				fgta_output.window({
					title:'Output',
					width:600,
					height:400,
					modal:true
				});
				<?php } ?>				
	
		})
	</script>




</html>