/* PAGE SETTING */
:root {
	--bigheader-height: 152px;
	--smallheader-height: 47px;
	--page-min-width: 200px;
	--campaign-big-top: 50px;
	--campaign-big-left: 50px;
	--campaign-small-top: 30px;
	--campaign-small-left: 20px;

}


#page-header {
	position: fixed;
	width: 100%;
	top: 0;
	text-align: center;
}

#logo-container {
	width: 300px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	margin: auto;
	background-color: brown;
}

#menu-burger {
	margin-top: 15px;
	margin-right: 15px;
	width: 28;
	float: right;
	display: none;
}

#menu-bar {
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: center;
}

#menu-bar-btnclose-container {

	text-align: right;
}

#menu-bar-btnclose {
	margin-bottom: 40px;
	margin-top: 5px;
	margin-right: 15px;	
	display: block;
	width: 40px;
	float: right;
}

.pageblock-container {
	width: 100%;
	max-width: 1500px;
	margin: auto;
}


.menu-bar-item {
	min-width: 250px;
	width: 100%;
}


@media only screen and (max-width: 450px) {
	#logo-container {
		margin-left: 10px;
		margin-top: 10px;
		width: 130px;
		height: 50px;
		float: left;
	}

	#menu-burger {
		margin-top: 0px;
		margin-right: 12px;
	}	

	#menu-bar-btnclose {
		margin-top: 0px;
		margin-right: 12px;	
	}
}

@media only screen and (min-width: 1024px) {
	#logo-container {
		float: none;
		margin-top: 10px;
		width: 150px;
	}

	#menu-burger {
		display: block;
	}

	#menu-bar {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 999999;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 10px;
	}	
}

@media only screen and (min-width: 1025px) {
	#menu-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100% !important;
		position: initial;
		background-color: #fff;
		color: #000;
	}

	#menu-bar-btnclose {
		display: none;
	}
	
	.menu-bar-item {
		min-width: auto;
		width: auto;
	}


}