

#page-header {
	position: fixed;
	top: 0;
	height: var(--bigheader-height);
	width: 100%;
	min-width: var(--page-min-width);
	background-color: cadetblue;
}

#page-content {
	flex: 1;
	margin-top: var(--bigheader-height);
	min-width: var(--page-min-width);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#page-footer {
	min-width: var(--page-min-width);
	background-color: #666;
	color: #fff;
}

#page-footer-r1 {
	display: flex;
	justify-content: center;
}

#page-footer-r2 {
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	border-top: 1px solid #888;
}


#page-footer-menu a {
	line-height: 30px;
	text-decoration: none;
	color: #fff;
}

#page-footer-menu a:hover {
	line-height: 30px;
	text-decoration: underline;
	color: #fff;
}


.el-footer-col {
	width: 400px;
	margin: 40px 10px 0px 0px;
}


.content {
	width: 1200px;
}

.content-row {
	margin-left: 0px;
	margin-right: 0px;
}

.pl {
	margin-left: 30px;
}

.pr {
	margin-right: 30px;
}


.iconsosmed {
	width: 35px;
	height: 35px;
}

.icontfi {
	width: 250px;
	margin-right: 50px;
}


.campaign-title {
	top: var(--campaign-big-top);
	left: var(--campaign-big-left);
	margin-right: var(--campaign-big-left);
}


.campaign-title-text {
	font-size:1.5em
}


