@media only screen and (max-width: 768px) {
	#page-header {
		height: var(--smallheader-height);
	}

	#page-content {
		margin-top: var(--smallheader-height);
		text-align: left;
	}

	/* #page-footer {
	} */

	#page-footer-r1 {
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	#page-footer-r2 {
		justify-content: flex-start;
	}

	.el-footer-col {
		width: 100%;
		margin: 20px 0px 0px;
	}

	.pl {
		margin-left: 10px;
	}
	
	.pr {
		margin-right: 10px;
	}

	.icontfi {
		width: 180px;
		margin-right: 0px;
	}
	
	.campaign-title {
		top: var(--campaign-small-top);
		left: var(--campaign-small-left);
		margin-right: var(--campaign-small-left);
	}	

	.campaign-title-text {
		font-size:1em
	}
	
}