:root {
	--text-color-normal : #111;
	--text-color-inverse: #fff;
	--background-color-normal: #fff;
	--background-color-normal-rgb: 255, 255, 255;
	--background-color-inverse: #111;
	--search-underline: #ccc;
	--footer-background-color: #333;
	--footer-color: #ddd;
}




#page-header {
	height: 100px;
	position: fixed;
	width: calc(100%);
	top: 0;
	text-align: center;
	background-color: var(--background-color-normal);

	/* background-color: rgba(var(--background-color-normal-rgb), 0.8); */

	margin-left: -10px;
	
	padding-left: 10px;
	padding-right: 10px;

	z-index: 2147483647;

	-webkit-box-shadow: 0px 10px 8px 0px rgba(255,255,255, 1);
	-moz-box-shadow: 0px 10px 8px 0px rgba(255,255,255, 1);
	box-shadow: 0px 10px 8px 0px rgba(255,255,255, 1);	
}

#page-content {
	overflow-x: hidden;
	width: calc(100% - 20px);
	display: flex;
	flex-direction: column;
}

#page-footer {
	opacity: 0; 
	position: fixed;
	bottom: 0px;
	overflow-x: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--footer-background-color);
	color: var(--footer-color);
	margin-top: 10px;
	z-index: 2147483646;
}



#page-footer-row2 {
	margin-top: 30px;
	height: 60px;
}

#search-container {
	float: left;
	margin-left: 10px;
	border-bottom: 1px solid var(--search-underline);
}

#login-container {
	float: right;
}

#nav-btnopen {
	float: right;
	margin-right: 10px;
}

#nav-btnsearch {
	opacity: .5;
}

#logo-container {
	margin: auto;
	margin-top: 10px;
	width: 150px;
	height: 40px;
}

#logotfi {
	margin-top: 20px;
	width: 200px;
	height: 50px;
	display: block;
}



#nav {
	display: none;
	position: fixed;
	height: 100%;
	width: 0px;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;

	background-color: var(--background-color-inverse);
	color: var(--text-color-inverse);
}

#nav-item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 200px;
	width: 100%;
}

#login-icon {
	display: block;
	margin-right: 10px;
}

#login-signin {
	display: none;
	margin-right: 10px;
}

#login-register {
	display: none;
	margin-right: 10px;
}


#nav-txtsearch {
	width: 100px;	
	border: 0px;
	transition: 0.5s;
}

#nav-txtsearch:focus {
	outline: none;
}


#nav-btnclose-container {
	text-align: right;
	margin-bottom: 70px;
}

#nav-btnclose {
	margin-right: 10px;	
	width: 28px;
	float: right;
}



.page-footer-row {
	margin-left: 10px;
	margin-right: 10px;
}

.pageblock-container {
	text-align: center;
}

.logosm {
	width: 30px;
	height: 30px;
	display: block;
	margin-right: 10px;
}

.nav-button {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.dropbtn {
	cursor: pointer;
}


.page-footer-menu {
	margin-top: 30px;
	font-size: 1em;
}

.page-footer-menu > a {
	color: var(--footer-color);
	font-size: 1em;
	line-height: 25px;
	text-decoration: none;
}

.page-footer-menu > a:hover {
	text-decoration: underline;
}



@media only screen and (max-width: 450px) {
	#page-header {
		height: 50px;
		/* border-bottom: 1px solid #ccc; */
	}

	#page-content {
		margin-top: 60px;
		margin-left: 10px;
		align-items: flex-start;
	}


	#logo-container {
		margin-left: 10px;
		width: 100px;
		height: 30px;
	}

	#logotfi {
		margin-top: 10px;
		width: 150px;
		height: 30px;
	}

	#search-container {
		float: right;
		margin-right: 10px;
		border-bottom-width: 0px;
	}

	#nav-btnsearch {
		opacity: 1;
	}
	
	#nav-txtsearch {
		width: 0px;
		/* transition: 0.5s; */
	}

	.nav-button {
		width: 24px;
		height: 24px;
	}
}

@media only screen and (min-width: 451px) {
	#page-header {
		height: 60px;
	}

	#page-content {
		margin-top: 70px;
		align-items: center;
		padding: 0px 10px;
	}
}


@media only screen and (min-width: 812px) {
	#page-footer-row1 {
		display: flex;
	}

	#page-footer-row2 {
		text-align: center;
	}

	#page-footer-address {
		margin-top: 23px;
		margin-left: 100px;
	}

	.page-footer-menu {
		margin-top: 20px;
		margin-left: 100px;
		font-size: 12px;
	}

	.page-footer-menu > * {
		font-size: 12px;
	}
}


@media only screen and (max-width: 1024px) {

	.accordion {
		padding: 12px 16px;
		outline: none;
		transition: 0.4s;	
		cursor: pointer;
	}

	.active, .accordion:hover {
		background-color: #333;
	}

	.dropdown-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
	}

	.dropdown-content a {
		color: var(--text-color-inverse);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #222;}
	.dropdown:hover .dropdown-content {display: block;}
	
}

@media only screen and (min-width: 1025px) {
	#page-header {
		height: 100px;
	}

	#page-content {
		margin-top: 110px;
	}


	#nav {
		display: block;
		background-color: var(--background-color-normal);
		color: var(--text-color-normal);
		position: relative;
		width: 100%;
		height: initial;
		transition: 0s;
		overflow: visible
	}

	#nav-btnopen {
		display: none;
	}

	#nav-btnclose-container {
		display: none;
	}

	#nav-txtsearch {
		width: 200px;
	}

	#nav-item-container {
		flex-direction: row;
		justify-content: center;
		width: 100% !important;;
		min-width: 1024px;
	}


	#logo-container {
		height: 50px;
	}

	#login-icon {
		display: none;
	}
	
	#login-signin {
		display: block;
	}
	
	#login-register {
		display: block;
	}


	.dropdown {
		position: relative;
		display: inline-block;	
	}
	
	.dropbtn {
		padding: 5px 16px;
		transition: 0.5s;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 9;
	}
	
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #ddd;}
	.dropdown:hover .dropdown-content {display: block;}
	.dropdown:hover .dropbtn {background-color: #ddd;}

}



@media only screen and (min-width: 1440px) {
	#page-content {
		width: 1420px;
		margin-left: auto;
		margin-right: auto;
	}


	.page-footer-row {
		width: 1420px;
		margin-left: auto;
		margin-right: auto;		
	}
}