<div id="pnl_editjurnalpaymngrid">
	<div class="fgta-page-title">Daftar jurnalpaymngrid</div>
	<div id="pnl_editjurnalpaymngrid-title" style="margin-top: 0px; margin-bottom: 30px; font-weight: bold; font-size: 1.2em">XXXXXXX</div>


	<div style="margin-top: 10px; margin-bottom: 15px">
		<table id="pnl_editjurnalpaymngrid-tbl_list" paging="true" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th type="check">chk</th>
					<th mapping="jurnal_id">jurnal_id</th>
					<th mapping="jurnalpaymn_id">jurnalpaymn_id</th>
					<th mapping="jurnalpaymn_data">jurnalpaymn_data</th>
					<th mapping="jurnalpaymn_value">jurnalpaymn_value</th>

				</tr>
				<tr style="background-color: #cccccc; height: 30px">
					<td class="fgtable-head" style="width: 5px; border-bottom: 1px solid #000000; text-align: center">*</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">jurnal_id</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">jurnalpaymn_id</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">jurnalpaymn_data</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">jurnalpaymn_value</td>

				</tr>
			</thead>
		</table>
	</div>

	<div id="pnl_editjurnalpaymngrid-control" style="display: flex; justify-content: space-between; margin-bottom: 100px">
		<div>
			<a id="pnl_editjurnalpaymngrid-removechecked" href="javascript:void(0)" class="easyui-linkbutton c8">Hapus Checked</a>
		</div>

		<div>
			<a id="pnl_editjurnalpaymngrid-addrow" href="javascript:void(0)" class="easyui-linkbutton c8">Tambah Baris</a>
		</div>

		<div>
		</div>

	</div>


</div>	
