<div id="pnl_editjurnaldetilform">
	<div class="fgta-page-title" style="display: flex; align-items: center ">
		<div>Edit Detil Jurnal</div>
		<a id="pnl_editjurnaldetilform-btn_edit" href="javascript:void(0)" class="easyui-linkbutton" style="margin-left:10px;" data-options="plain:true,iconCls:'fgta-icon-edit'">edit</a>
	</div>
	<div id="pnl_editjurnaldetilform-title" style="margin-top: 0px; margin-bottom: 30px; font-weight: bold; font-size: 1.2em">XXXXXXX</div>


	<form id="pnl_editjurnaldetilform-form">

		<div class="form_row">
			<div class="form_label_col">ID</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editjurnaldetilform-txt_jurnaldetil_id" class="easyui-textbox" mapping="jurnaldetil_id"  maxlength="14"  style="width: 400px" data-options="multiline:false  ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">Descr</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editjurnaldetilform-txt_jurnaldetil_descr" class="easyui-textbox" mapping="jurnaldetil_descr"  maxlength="90"  style="width: 400px" data-options="multiline:false , required: true, invalidMessage: 'Deskripsi jurnal harus diisi' ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">Value</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editjurnaldetilform-txt_jurnaldetil_value" class="easyui-numberbox" mapping="jurnaldetil_value" style="width: 400px" data-options="precision: 0, decimalSeparator:'.', groupSeparator:','  ">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">Account</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editjurnaldetilform-cbo_acc_id" class="easyui-combo" style="width: 400px" mapping="acc_id" display="acc_name" data-options="editable:false, valueField:'id', textField:'text' , required: true, invalidMessage: 'Account harus diisi'">
			</div>
		</div>

		<div class="form_row">
			<div class="form_label_col">ID</div>
			<div class="form_input_col" style="border: 0px solid black">
				<input id="pnl_editjurnaldetilform-txt_jurnal_id" class="easyui-textbox" mapping="jurnal_id"  maxlength="14"  style="width: 400px" data-options="multiline:false  , disabled: true">
			</div>
		</div>

	</form>


	<div class="form_row" style="margin-top: 30px">
		<div class="form_label_col"></div>
		<div class="form_input_col" style="border: 0px solid black">
			<div style="margin-bottom: 10px">
				<input id="pnl_editjurnaldetilform-autoadd" type="checkbox"><label for="pnl_editjurnaldetilform-autoadd">Otomatis tambah baru setelah berhasil disimpan</label>
			</div>
			<div>
				<a id="pnl_editjurnaldetilform-btn_save" class="easyui-linkbutton c1" style="width: 100px">Simpan</a>
			</div>
		</div>
	</div>	



	<div style="margin-top: 30px; margin-left:-5px; margin-right: -5px; background-color: #cccccc; height: 40px; display: flex; justify-content: space-between; padding: 5px 2px 2px 2px ">
		<div>
			<a id="pnl_editjurnaldetilform-btn_prev" class="easyui-linkbutton c8" style="width: 50px">Prev</a>
			<a id="pnl_editjurnaldetilform-btn_next" class="easyui-linkbutton c8" style="width: 50px">Next</a>
		</div>

		<div>
			<a id="pnl_editjurnaldetilform-btn_addnew" class="easyui-linkbutton c8" style="width: 100px">Tambah Baru</a>
		</div>

		<div>
			<a id="pnl_editjurnaldetilform-btn_delete" class="easyui-linkbutton c5" style="width: 100px">Hapus</a>
		</div>
	</div>




</div>	
