<div id="pnl_editjurnaldetilgrid">
	<div class="fgta-page-title">Daftar Detil Jurnal</div>
	<div id="pnl_editjurnaldetilgrid-title" style="margin-top: 0px; margin-bottom: 30px; font-weight: bold; font-size: 1.2em">XXXXXXX</div>


	<div style="margin-top: 10px; margin-bottom: 15px">
		<table id="pnl_editjurnaldetilgrid-tbl_list" paging="true" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th type="check">chk</th>
					<th mapping="jurnaldetil_descr">jurnaldetil_descr</th>
					<th mapping="jurnaldetil_value">jurnaldetil_value</th>
					<th mapping="acc_name">acc_name</th>

				</tr>
				<tr style="background-color: #cccccc; height: 30px">
					<td class="fgtable-head" style="width: 5px; border-bottom: 1px solid #000000; text-align: center">*</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Descr</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Value</td>
					<td class="fgtable-head" style="width: 100px; border-bottom: 1px solid #000000">Account</td>

				</tr>
			</thead>
		</table>
	</div>

	<div id="pnl_editjurnaldetilgrid-control" style="display: flex; justify-content: space-between; margin-bottom: 100px">
		<div>
			<a id="pnl_editjurnaldetilgrid-removechecked" href="javascript:void(0)" class="easyui-linkbutton c8">Hapus Checked</a>
		</div>

		<div>
			<a id="pnl_editjurnaldetilgrid-addrow" href="javascript:void(0)" class="easyui-linkbutton c8">Tambah Baris</a>
		</div>

		<div>
		</div>

	</div>


</div>	
